* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;

}


body {
    /** aqui colocar o fundo uma imagem */
    background-image: url('imagem-de-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #d0f0e0;
    /* tom de verde-água como fallback */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5vw;
    background-color: #F5FDFC;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#agendar-consulta {
    width: 240px;
    height: 40px;
    background: #ad9273;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    font-size: 20px;
    line-height: 36px;
    color: #F5FDFC;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

#agendar-consulta:hover {
    background: #50ddd5;
    color: #2596be;
    transform: translateY(-4px) scale(0.98);
}

#logo03 {
    height: 90px;
}

#logo03:hover {
    transform: translateY(-8px) scale(1.02);

}

.menu {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}

nav a {

    margin: 0 20px;
    text-decoration: none;
    color: #876d55;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    transition: color 0.2s;
    transition: color 0.2s;
}

nav a:hover {
    color: #50ddd5;
    transform: color 0.2s;
    transform: translateY(-4px) scale(0.98);
}

.inicio {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-height: 90vh;
    max-width: none;
    margin: 20px 0 20px 0;
    padding: 20px 5vw;
    gap: 20px;
}


.inicio-img {
    flex: 0 0 60%;
    padding: 0;
    transition: color 0.3s, transform 0.3s;
}

.inicio-img img:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0px 16px 40px rgba(37, 150, 190, 0.25);
}


.inicio-conteudo {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inicio-img img {
    width: 95%;
    height: auto;
    min-width: 300px;
    /* Garante que a imagem não fique muito pequena */
    border-radius: 40px;
}


.inicio-info {
    flex: 1;
    font-size: 1.5rem;
    line-height: 4rem;
    color: #F5FDFC;
    margin: 0 15px auto;
    text-align: left;
    padding: 5px;
    background: #2596be;
    border-radius: 40px;
    box-shadow: 0 0 24px rgba(148, 153, 234, 0.0979959);
    font-size: 22px;
    color: #F5FDFC;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.inicio-info:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0px 16px 40px rgba(37, 150, 190, 0.25);
}

#info-consulta {
    padding: 50px;
    letter-spacing: justify;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    margin-top: auto;

}

#info-atendimento {
    border-radius: 40px;
    padding: 30px;
    letter-spacing: justify;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    margin-top: 0;
    color: #876d55;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#info-atendimento:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0px 16px 40px rgba(37, 150, 190, 0.25);
}


.inicio-info button {
    display: block;
    margin: auto auto 20px auto;
    background: #50ddd5;
    color: #2596be;
    padding: 12px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s, background-color 0.2s;


}

.inicio-info button:hover {
    background: #66e0b4;
    transform: translateY(-8px) scale(1.02);
}

.inicio-info button:active {
    opacity: 0.5;
}

.servicos {
    max-width: 1100px;
    margin: 200px auto;
    padding-left: 0;
    padding-right: 0;
}

.servicos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 45px;
    margin-bottom: 40px;
    padding: 0 20px;
    justify-items: center;
    align-items: center;
}

.servicos h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #2596be;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servicos h2:hover {
    color: #50ddd5;
    transform: translateY(-8px) scale(1.02);

}

.servicos div {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.servicos img {
    width: 40%;
    height: 90px;
    object-fit: cover;
    border-radius: 15px;
}

.servicos h4 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #2596be;
    font-weight: bold;
}

.servicos p {
    font-size: 1rem;
    color: #2596be;
    margin-bottom: 10px;
}

.servicos a {
    display: inline-block;
    background: none;
    color: #876d55;
    padding: 10px 20px;
    border-radius: 24px;
    text-decoration: none;
    transition: background 0.2s;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1rem;
}

.servicos a:hover {
    color: #7FFFD4;
}

.servicos-grid>div:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0px 16px 32px rgba(127, 255, 212, 0.25);
}

.sobre {
    max-width: 1300px;
    margin: 30px auto;
    padding-left: 0;
    padding-right: 0;
}

.sobre h2 {
    text-align: center;
    margin: 0 0 70px 0;
    font-size: 2rem;
    color: #2596be;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.sobre h2:hover {
    color: #50ddd5;
    transform: translateY(-8px) scale(1.02);
}

.sobre-conteudo {
    display: flex;
    align-items: center;
    gap: 40px;
}


.sobre-conteudo p {
    background: #fff;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border-radius: 20px;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #50ddd5;
    margin-bottom: 0;
    flex: 1;
    text-align: justify;
    width: 90%;
    padding: 85px;
    transition: color 0.3s, transform 0.3s;
   
}

.sobre-conteudo p:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0px 16px 40px rgba(37, 150, 190, 0.25);
}


.sobre-conteudo img {
    width: 400px;
    max-width: 45%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    flex-shrink: 0;
    transition: color 0.3s, transform 0.3s;
}

.sobre-conteudo img:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0px 16px 40px rgba(37, 150, 190, 0.25);
}

.depoimentos {
    max-width: 1100px;
    margin: 40px auto 0 auto;
    padding-left: 0;
    padding-right: 0;
}

.depoimentos h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #2596be;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.depoimentos h2:hover {
    color: #50ddd5;
    transform: translateY(-8px) scale(1.02);
}

.depoimentos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.depoimentos p {
    color: #50ddd5;
}

.depoimentos>div {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    padding: 24px;
    min-width: 250px;
    max-width: 300px;
    flex: 1 1 250px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.depoimentos>div:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0px 16px 32px rgba(127, 255, 212, 0.25);
}

.receitas {
    max-width: 1100px;
    margin: 40px auto;
    padding-left: 0;
    padding-right: 0;
}

.receitas h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #2596be;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s
}

.receitas h2:hover {
    color: #50ddd5;
    transform: translateY(-8px) scale(1.02);
}

.receitas p {
    color: #2596be;
    margin: 15px auto;
    text-align: justify;
    width: 90%;
    

}

.receitas h4 {
    color: #2596be;
    font-weight: bold;
    
}

.receitas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.receitas-grid>div {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    padding: 24px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;

}

.receitas-grid>div:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0px 16px 32px rgba(127, 255, 212, 0.25);
}

.receitas-grid img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 12px;
}

.saiba-mais-receitas {
    display: inline-block;
    background: none;
    color: #876d55;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s
}

.saiba-mais-receitas:hover {
    color: #7FFFD4;
    transform: translateY(-8px) scale(1.02);
}

.agendamento {
    max-width: 700px;
    margin: 40px auto;
    padding-left: 0;
    padding-right: 0;
}

.agendamento form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.agendamento input {
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.agendamento button {
    width: 60%;
    padding: 15px;
    font-size: 1.2rem;
    background: #7FFFD4;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    max-width: 300px;
    transition: background 0.2s;
    margin: 0 auto;
    transition: color 0.3s, transform 0.3s;
}

.agendamento button:hover {
    background: #66e0b4;
    transform: translateY(-8px) scale(1.02);

}


.agendamento button:active {
    background: #4dcfa0;
}

.agendamento h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #2596be;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.agendamento h2:hover {
    color: #50ddd5;
    transform: translateY(-8px) scale(1.02);
}

#agendar-consulta {
    width: 240px;
    height: 40px;
    background: #ad9273;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    font-size: 20px;
    line-height: 36px;
    color: #F5FDFC;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#agendar-consulta:hover {
    opacity: 0.9;
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0px 16px 40px rgba(37, 150, 190, 0.25);
}

#agendar-consulta:active {
    opacity: 0.7;
}

.footer {
    background: #F5FDFC;
    width: 100%;
    padding: 40px 5vw;
    margin-top: 60px;
    box-sizing: border-box;
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links,
.footer-info,
.footer-right {
    flex: 1;
    min-width: 220px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links h4 {
    font-size: 1.2rem;
    color: #ad9273;
    font-weight: bold;
    margin: auto;
    transition: color 0.3s, transform 0.3s;
}

.footer-links h4:hover {
    color: #50ddd5;
    transform: translateY(-8px) scale(1.02);
}

.footer-links a {
    text-decoration: none;
    color: #2596be;
    font-weight: bold;
    transition: color 0.2s;
    margin: auto;
    transition: color 0.3s, transform 0.3s;
}

.footer-links a:hover {
    color: #50ddd5;
    transform: translateY(-8px) scale(1.02);
}

.footer-info h4 {
    font-size: 1.2rem;
    color: #ad9273;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.footer-info h4:hover {
    color: #50ddd5;
    transform: translateY(-8px) scale(1.02);
}

.footer-info p {
    font-size: 0.9rem;
    color: #2596be;
    margin: 20px 0;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.footer-logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    margin: auto auto 20px 0;
    transition: color 0.3s, transform 0.3s;
}

.footer-logo:hover {
    transform: translateY(-8px) scale(1.02);
}

.footer .rede-social {
    display: flex;
    gap: 16px;
}

.footer .rede-social i {
    font-size: 30px;
    color: #876d55;
    transition: color 0.3s, transform 0.3s;
}

.footer .rede-social i:hover {
    color: #2596be;
    transform: scale(1.2);
}



@media (max-width: 700px) {
    header {
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
        justify-content: center; /* Centraliza o logo e o menu quando a linha quebra */
        gap: 15px;
    }

    .menu {
        margin-left: 0;
    }

    nav {
        display: flex;
        flex-direction: column; /* Coloca os links um abaixo do outro */
        align-items: center; /* Centraliza os links */
    }

    .inicio,
    .sobre-conteudo {
        flex-direction: column;
        text-align: center;
    }

    .footer-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-right {
        align-items: center;
    }
}